body{
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: 'Raleway',sans-serif;

}
.banner{
	height:100vh;
	width:100%;
	background: url('../images/bannerr.jpg');
	opacity:0.9;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;	
}
.banner .navbar{
	background-color: #892f2f;
}
.banner .navbar-brand{
	color: #fff;
	font-family: 'Tangerine',serif;
	font-size:2.0em;
	font-weight: 800;
}
.banner .nav li a{
	color: #fff;
	font-size:1.2em;
}
.banner .nav li a:hover{

}
.banner .info{
	margin-top: 15%;
	transform: translateY(-15%);

}
.banner .info h1{
	font-family: 'Tangerine', serif;
	font-size: 4em;
    font-weight: 100;
    line-height: 100px;
	color:#000;
	letter-spacing: 2px;
}
.banner .info h4{
	
	font-family: 'Raleway',serif;
	font-size: 2.1em;
	font-weight: 500;
	color: #000;
	font-weight: 1000;
	letter-spacing: 3px;
}
.banner .info a{
	margin-left: 50%;
	transform: translateX(-50%);
	color: #fff;
	background:  #892f2f;
	padding: 10px 20px;
	font-size: 1.5em;
	font-weight: 600;
	border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	letter-spacing: 3px;
}
.banner .info a:hover{
 background: #792E2E;

}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.footerclass{
	background-color:#892f2f;
	font-family: 'Raleway',sans-serif;
	color:#fff;
}
.footerclass h5{
	color:#fff;
}
.footerclass a{
	color:#fff;
}
#services_home h2,h6{
	color:#792E2E;
	font-weight: 700;
}
#team h2,h5{
	color:#792E2E;
	font-weight: 700;
}